<html lang="en">
<head>
  <meta charset="utf-8" http-equiv="Content-Security-Policy" content="connect-src 'self' https://na1.api.riotgames.com/"/>
  <title>ACCOUNT | LoL Team Comp Maker</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body> 
  <nav><a href="/login"><img id="logo" src="/assets/img/face.png" alt="face logo"/></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
    <div class="navlink"><a id="makerButton" href="/teamMaker">Team Comp Maker</a></div>
  </nav>
  
  <section id="accountNav">
    <div class="accountNavLink"><a id="teamsButton" href="/viewTeams">View My Teams</a></div>
    <div class="accountNavLink"><a id="premiumButton" href="/premium">Purchase Premium</a></div>
    <div class="accountNavLink"><a id="passwordChangeButton" href="/changePassword">Change Password</a></div>
  </section>

  <section id="content">

  </section>

  <div id="domoMessage" class='hidden'>
    <img id="speech" src="/assets/img/speech.png" alt="speech box"/>
    <h3><span id="errorMessage"></span></h3>
    <img id="domo" src="assets/img/domo.png" alt="domo"/>
  </div>
  <script src="/assets/accountBundle.js"></script>
</body>
</html>
