<html lang="en">
<head>
  <meta charset="utf-8" http-equiv="Content-Security-Policy" content="connect-src 'self' https://na1.api.riotgames.com/"/>
  <title>LOGIN | LoL Team Comp Maker</title>
  <link rel="shortcut icon" href="/assets/img/LOGO.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body> 
  <nav><a href="/login" id="homeNav"><img id="logo" src="/assets/img/LOGO.png" alt="LoL logo"/>LoL Team Comp Crafter</a>
    <div class="navlink"><a id="loginButton" href="/login">Login</a></div>
    <div class="navlink"><a id="signupButton" href="/signup">Sign up</a></div>
  </nav>
  
  <section id="content">

  </section>

  <div id="imgMessage" class='hidden'>
    <img id="speech" src="/assets/img/speech.png" alt="speech box"/>
    <h3 id="errorMsgh3"><span id="errorMessage"></span></h3>
    <img id="teemo" src="assets/img/teemo.jpg" alt="teemo"/>
  </div>
  <script src="/assets/loginBundle.js"></script>
</body>
</html>
